<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIVE CHAT</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="loginbody">
      <section class="topBox">
        <h2>Hello login</h2>
        <p>Welcome to the login</p>
        <p>screen</p>
      </section>
      <section class="midBox">
        <input type="text" placeholder="Username" />
        <input type="password" placeholder="Password" />
        <button>
          <a href="/main">sign in</a>
        </button>
      </section>
      <section class="bottomBox"></section>
    </div>
  </body> 
</html>
