<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIVE CHAT</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="mainbody">
      <header class="headerBox">
        <h1>Live Chat</h1>
      </header>

      <div class="mainBox">
        <div class="mainSubBax">
          <ul class="mainUl" id="room"></ul>
        </div>
      </div>

      <div class="baBox">
        <section class="ba">
          <input type="text" id="txt" placeholder="내용을 입력 해주세요." />
          <button id="btn">﹥</button>
        </section>
        <div class="errorBox">
          <p class="errorText" id="errorText"></p>
        </div>
      </div>
    </div>
  </body>

  <script>
    const socket = io();

    const loginData = sessionStorage.getItem("login") ? JSON.parse(sessionStorage.getItem("login")) : false;

    if(!loginData){
      alert("로그인 후 이용해주세요.");
      location.href = "/";
    }

    const myTxt = document.getElementById("txt");
    const myBtn = document.getElementById("btn");
    const myRoom = document.getElementById("room");
    const errorText = document.getElementById("errorText");

    myBtn.addEventListener("click", async () => {
      if(!myTxt.value && myTxt.value.length === 0){
        return errorText.innerText="내용을 입력해주세요."
      }
      errorText.innerText = "";

      socket.emit("chat", myTxt.value);

      myTxt.value = "";
    });

    myTxt.addEventListener("keydown", async (key) => {
      if(key.key === "Enter"){
        if(!myTxt.value && myTxt.value.length === 0){
          return errorText.innerText="내용을 입력해주세요."
        }
        errorText.innerText = "";

        socket.emit("chat", myTxt.value);
  
        myTxt.value = "";
      };
    });

    socket.on("dateMsg", (value) => {
      if (value.isDateMsg) {
        const dateMsg = document.createElement("div");

        dateMsg.style.width = "100%";
        dateMsg.style.padding = "5px";
        dateMsg.style.margin = "20px 0";
        dateMsg.style.borderRadius = "5px";
        dateMsg.style.backgroundColor = "#ecf0f1";
        dateMsg.style.display = "flex";
        dateMsg.style.justifyContent = "center";
        dateMsg.style.alignItems = "center";

        dateMsg.innerText = value.date;

        myRoom.append(dateMsg);

        return;
      }
    })


    socket.on("chat", (value) => {
      const avatar = document.createElement("div");
      
      if (value.isAvatar) {
        const avatarDiv = document.createElement("div");
        const avatarName = document.createElement("p");
        const msgTime = document.createElement("p");

        avatarDiv.style.display = "flex";
        avatarDiv.style.flexDirection = "row";
        avatarDiv.style.justifyContent = "space-between";
        avatarDiv.style.alignItems = "center";

        avatarName.innerText = loginData.username;
        msgTime.innerText = value.time;

        avatar.append(avatarDiv);
        avatarDiv.append(avatarName);
        avatarDiv.append(msgTime);

        const liTag = document.createElement("li");
        liTag.innerText = value.msg;
  
        avatar.style.margin = "10px 0";
  
  
        myRoom.append(avatar);
        avatar.append(liTag);

        return;
      } else {
        const liTag = document.createElement("li");
        liTag.innerText = value.msg;

        avatar.style.margin = "10px 0";
        avatar.style.width = "100%";


        myRoom.append(avatar);
        avatar.append(liTag);

        return;
      }
    });
  </script>
</html>
