<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LIVE CHAT</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="mainbody">
      <header class="headerBox">
        <h1>Live Chat</h1>
      </header>

      <div class="mainBox">
        <ul class="mainUl" id="room"></ul>
      </div>

      <div class="baBox">
        <section class="ba">
          <input type="text" id="txt" placeholder="입력 해주세요..." />
          <button id="btn">﹥</button>
        </section>
      </div>
    </div>
  </body>

  <script>
    const socket = io();

    const myTxt = document.getElementById("txt");
    const myBtn = document.getElementById("btn");
    const myRoom = document.getElementById("room");

    myBtn.addEventListener("click", () => {
      socket.emit("chat", myTxt.value);
    });

    socket.on("chat", (msg) => {
      const liTag = document.createElement("li");
      liTag.innerText = msg;

      myRoom.append(liTag);
    });
  </script>
</html>
