.loginbody {
  background-color: #ededed;
}

.topBox {
  width: 100%;
  height: 25vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.midBox {
  width: 100%;
  height: 50vh;

  padding-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.midBox input {
  width: 300px;
  height: 50px;

  border-radius: 12px;

  outline: none;
  background: #fff;
  border: none;

  padding-left: 15px;

  margin: 5px 0px;

  font-size: 15px;
}

.midBox button {
  width: 315px;
  height: 55px;

  border-radius: 12px;
  border: none;

  background-color: #182747;
  box-shadow: 0.5px 0.5px 5px #182747;
  color: #fff;
  font-size: 18px;

  margin-top: 50px;
}

.bottomBox {
  width: 100%;
  height: 17.5vh;
}

.topBox p {
  width: 200px;

  padding: 5px 0px 0px;

  font-size: 19px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

