.mainBox {
  width: 100%;
  height: 480px;

  background-color: #999;

  border-radius: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.baBox {
  width: 100%;
  height: 100px;

  background-color: #888;
  border-radius: 15px 0px 15px 0px;
}
