body {
  background-color: #c1d7ae;
}

.headerBox {
  width: 100%;
  height: 25vh;
}

.mainBox {
  width: 100%;
  height: 50vh;

  background-color: #fff;

  border-radius: 35px 35px 0px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

li {
  width: 100px;
  height: 100px;

  background-color: #ededed;
}

.baBox {
  width: 100%;
  height: 25vh;

  background-color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
