body {
  background-image: url("https://t4.ftcdn.net/jpg/05/14/46/93/240_F_514469379_dMa17olPyW0lITkxwrKuo6DIpLpQHszw.jpg");
}

h1 {
  font-size: 32px;

  color: #fff;
  font-weight: bold;

  text-shadow: 1px 1px 1px #999;
}

li {
  padding: 10px;
  border-radius: 12px;

  margin-top: 5px;
  background-color: #ededed;
}

.headerBox {
  width: 100%;
  height: 25vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainBox {
  width: 100%;
  height: 60vh;

  background-color: #fff;

  border-radius: 35px 35px 0px 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  overflow-y: scroll;
}

.baBox {
  width: 100%;
  height: 15vh;

  background-color: #fff;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ba {
  width: 300px;
  height: 50px;

  border-radius: 30px;

  background-color: #f6f4f4;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.ba input {
  width: 80%;

  padding-left: 15px;
  font-size: 18px;

  outline: none;
  background: none;
  border: none;
}

.ba button {
  width: 25px;
  height: 25px;

  font-size: 16px;

  border-radius: 100%;
  border: none;

  color: #fff;
  background-color: #c1d7ae;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
