/* style.css */
@import url("/reset.css");
@import url("/login.css");
@import url("/main.css");

h1 {
  font-size: 32px;

  color: #fff;
  font-weight: bold;

  text-shadow: 1px 1px 1px #999;
}

li {
  padding: 10px;
  border-radius: 12px;

  margin-top: 5px;
  background-color: #ededed;
}

h2 {
  font-size: 26px;

  font-weight: 700;

  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #fff;

  font-size: 17px;
}
